<h1>Here's your new contact info:</h1>
<p>First Name: <%= @new_contact.first_name %></p>
<p>Middle Name: <%= @new_contact.middle_name %></p>
<p>Last Name: <%= @new_contact.last_name %></p>
<p>Email: <%= @new_contact.email %></p>
<p>Phone Number: <%= @new_contact.phone_number %></p>
<p>Bio: <%= @new_contact.bio %></p>