<h2>Here is your contact:</h2>

<p>First name: <%= @contact.first_name %></p>
<p>Last name: <%= @contact.last_name %></p>
<p>Email: <%= @contact.email %></p>
<p>Phone number: <%= @contact.phone_with_japanese_prefix %></p>
<p>This contact was created on: <%= @contact.pretty_time %></p>